body {
        background-image: url('https://picsum.photos/seed/patu/1920/1080'); /* Image URL */
        background-size: cover; /* Scale image to cover entire area */
        background-position: center; /* Center the image */
        background-repeat: no-repeat; /* Prevent tiling */
        background-attachment: fixed; /* Keep image fixed during scroll */
}

.infBox p[class*="lead"] {
    padding: 1rem 2rem;
    background-color: rgb(36, 15, 2);
    border: rgb(255, 94, 0) 1px solid;
    color: rgb(230, 230, 230);
}
