    :root {
    --color-dark: #150B0A;
    --color-brown: #3E2D2D;
    --color-beige: #847657;
    --color-green: #385329;
    --color-white: #FFFAEF;
    --color-text: #f5f5f5;
    }

body {
        background-image: url('..//Media/Fondo_MonsterHunterWorld.jpg'); /* Image URL */
        background-size: cover; /* Scale image to cover entire area */
        background-position: center; /* Center the image */
        background-repeat: no-repeat; /* Prevent tiling */
        background-attachment: fixed; /* Keep image fixed during scroll */

}


.banner{
  height: 300px;      
  overflow: hidden;
}

.IMGheader {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.searchButton {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.Monster_Grid {
    top: auto;
    background-color: var(--color-dark);
    row-gap: inherit;
    border-radius: 10px;
    overflow: hidden;
    margin:auto; 
}

.infBox p[class*="lead"] {
    padding: 1rem 2rem;
    background-color: rgb(36, 15, 2);
    border: rgb(255, 94, 0) 1px solid;
    color: rgb(230, 230, 230);
}


.custom-navbar{
    background-color: var(--color-brown);
    color: var(--color-text);
}

.custom-search{
    background-color: var(--color-white);
    color: var(--color-dark);
}
